nav {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

nav h1 {
  margin: 0;
  font-size: 24px;
}

.fetch {
  background-color: orange;
  color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 25px;
  margin-right: 25px;
}
